---
layout: base.njk
title: Thank you
description: Your message has reached Social Intent.
permalink: thanks.html
noindex: true
---
{% set heroEyebrow = "Thank you" %}
{% set heroTitle = "Thanks. <em>Your message is in.</em>" %}
{% set heroLead = "We reply within two working days. If it's quicker, book a call and we'll talk it through." %}
{% set heroNote = "speak<br>soon" %}
{% set heroCta = "Book a 30-minute call" %}{% set heroCtaHref = site.calendly %}
{% set heroLink = "Back to the home page" %}{% set heroLinkHref = root ~ "index.html" %}
{% include "page-hero.njk" %}
